.home-media {
	position: relative;
	overflow: hidden;
	z-index: 0;
	.home-content {
		display: inline-block;
		padding: 20px 15px;
		.icon {
			font-size: 26px;
			color: #fff;
		}
		.sbig {
			color: #fff;
			margin-top: 0;
			margin-bottom: 0;
			border: 0 !important;
		}
		.xmd {
	        color: #fff;
	       	letter-spacing: 0.005em;
	    }
	    .am-hr {
	    	margin-top: 0;
	    	margin-bottom: 10px;
	    }
	}
	.home-fixheight {
		max-height: 600px;
		height: 600px;
		.bx-wrapper {
			height: 100%;
			.bx-viewport {
				height: 100% !important;
			}
		}
	}
	.home-fullscreen {
		.bx-wrapper {
			height: 100%;
			.bx-viewport {
				height: 100% !important;
			}
		}
	}
}


.home-slider {
	margin: 0;
	li {
		margin: 0;
		padding: 0;
		width: 100% !important;
		&:before {
			display: none;
		}
		.image-wrap {
			position :relative;
			img {
				opacity: 0;
				visibility: hidden;
			}
		}
		.slider-content {
			position: absolute;
			z-index: 999;
			color: #fff;
			display: inline-block;
			top: 50%; left: 50%;
			@include translate(-50%, -50%);
			.sm {
				color: #fff;
			}
			.sbig {
				margin-top: 30px;
				color: #fff;
				font-size: 70px;
				border-top: 3px dotted #fff;
				border-bottom: 3px dotted #fff;
				white-space: nowrap;
				padding-left: 35px;
				padding-right: 35px;
				line-height: 1.7em;
			}
			.awe-btn {
				margin-top: 40px;
			}
		}
	}
}
