.tabs-menu, .tabs-shop {
	background-color: #0F0F0F;
	.nav-tabs {
		border: 0;
		margin: 0;
		li {
			float: none;
			display: inline-block;
			margin: 0;
			padding: 0;
			&:before {
				display: none;
			}
			a {
				position: relative;
				display: inline-block;
				background: none;
				border: 0;
				font-family: $ms;
				font-size: 16px;
				color: #F2F2F2;
				margin: 0 41px;
				padding: 30px 0;
				&:hover, &:active, &:focus {
					background: none;
					border: 0;
				}
				&:hover {
					background: none;
					border: 0;
					color: $color;
				}
			}
			&.active {
				a {
					color: $color;
					background: none;
					border: 0;
					&:after {
						content: '';
						display: block;
						position: absolute;
						width: 0; height: 0;
						border: 6px solid transparent;
						border-top-color: #0F0F0F;
						margin: auto;
						left: 0; right: 0;
						bottom: -10px;
					}
				}
			}
		}
	}
}
.tab-menu-content {
	.row {
		margin-left: -45px;
		margin-right: -45px;
		[class*="col-"] {
			padding-left: 45px;
			padding-right: 45px;
		}
	}
}
.the-menu-item {
	position: relative;
	overflow: hidden;
	padding: 20px 95px 20px 100px;
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 100%; height: 0;
		border-bottom: 1px dashed #A6A6A6;
		bottom: 0; left: 0;
	}
	.image-wrap {
		position: absolute;
		left: 0;
		margin-right: 32px;
	}
	.the-menu-body {
		overflow: hidden;
		display: inline-block;
		padding: 5px 0;
		.xsm {
			font-size: 16px;
			margin: 0;
			height: 22px;
			overflow: hidden;
		}
		a:hover {
			color: $color;
		}
		p {
			height: 25px;
			overflow: hidden;
		}
	}
	.prices {
		position: absolute;
		top: 25px; right: 0;
	}
	.highlight {
		position: absolute;
		display: inline-block;
		bottom: 0; right: 0;
		line-height: 24px;
		padding: 0 12px 0 5px;
		font-family: $ms;
		font-size: 14px;
		color: #000;
		background-color: $color;
		z-index: 9;
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 0; height: 0;
			border: solid $color;
			border-left-color: transparent;
			border-width: 12px 8px;
			top: 0; left: -10px;
		}
	}
}