/*------------------------------------------------------------------------
# Ambrosia
# ------------------------------------------------------------------------
# Designed by MegaDrupal
# Websites:  http://www.megadrupal.com -  Email: info@megadrupal.com
--------------------------------------------------------------------------

    1.   Shortcode
    2.   Header
    3.   Home
    4.   Short About
    5.   Our story
    6.   The menu
    7.   Highlight
    8.   The staff
    9.   Events
    10.  Testimonial
    11.  Section blog
    12.  Contact
    13.  Footer
    14.  Fastfood
    15.  Milestones
    16.  About story
    17.  Shop
    18.  Product detail
    19.  Reservation
    20.  Cart
    21.  Checkout
    22.  Preloader
    23.  Responsive

--------------------------------------------------------------------------------*/


$color: #FFD34E !default;
$pd: 'Playfair Display', serif !default;
$ms: 'Montserrat', sans-serif !default;
$qs: 'Quattrocento Sans', sans-serif !default;

@import "mixins";

/* 1.   Shortcode
--------------------------------------------------------------------------------*/
@import "1.shortcode";

/* 2.   Header
--------------------------------------------------------------------------------*/
@import "2.header";

/* 3.   Home
--------------------------------------------------------------------------------*/
@import "3.homemedia";

/* 4.   Good food
--------------------------------------------------------------------------------*/
@import "4.goodfood";

/* 5.   Our story
--------------------------------------------------------------------------------*/
@import "5.ourstory";

/* 6.   The menu
--------------------------------------------------------------------------------*/
@import "6.themenu";

/* 7.   Highlight
--------------------------------------------------------------------------------*/
@import "7.sectionhighlight";

/* 8.   The staff
--------------------------------------------------------------------------------*/
@import "8.thestaff";

/* 9.   Events
--------------------------------------------------------------------------------*/
@import "9.events";

/* 10.   Testimonial
--------------------------------------------------------------------------------*/
@import "10.testimonial";

/* 11.   Blog
--------------------------------------------------------------------------------*/
@import "11.blog";

/* 12.   Contact
--------------------------------------------------------------------------------*/
@import "12.contact";

/* 13.   Footer
--------------------------------------------------------------------------------*/
@import "13.footer";

/* 14.   Fastfood
--------------------------------------------------------------------------------*/
@import "14.fastfood";

/* 15.   Milestones
--------------------------------------------------------------------------------*/
@import "15.milestones";

/* 16.   Aboutstory
--------------------------------------------------------------------------------*/
@import "16.aboutstory";

/* 17.   Shop
--------------------------------------------------------------------------------*/
@import "17.shop";

/* 18.   Product detail
--------------------------------------------------------------------------------*/
@import "18.productdetail";

/* 19.   Reservation
--------------------------------------------------------------------------------*/
@import "19.reservation";

/* 20.   Cart
--------------------------------------------------------------------------------*/
@import "20.cart";

/* 21.   Checkout
--------------------------------------------------------------------------------*/
@import "21.checkout";

/* 22.   Preloader
--------------------------------------------------------------------------------*/
@import "22.preloader";

/* 23.   Responsive
--------------------------------------------------------------------------------*/
@import "23.responsive";

